@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-600: #404040;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-600) transparent;
}

body {
  @apply bg-neutral-900 text-neutral-300;
}

::selection {
  @apply bg-orange-500 text-neutral-900;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-600);
  -webkit-border-radius: 1ex;
}
