@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/sf-mono?styles=36554,36555');

:root {
	--orange-500: #f97316;
}

html {
	color-scheme: dark;
}

body {
	font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas,
		monospace;
	@apply bg-neutral-900 text-neutral-300;
}

::selection {
	@apply bg-orange-500 text-neutral-900;
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--orange-500) transparent;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--orange-500);
	-webkit-border-radius: 1ex;
}
